.theme-button {
	position: fixed;
	bottom: calc(2 * var(--expanding-rem) + 1rem);
	right: 0;
	margin: 0;
	padding: 0;
	width: 3rem;
	height: 3rem;
	line-height: 1;
	text-align: center;
	background: var(--foreground);
	border: none;
	color: var(--background);
	font-size: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.theme-button::before {
	border-left: 1rem solid var(--dark);
	border-right: 1rem solid var(--light);
	height: 2rem;
	border-radius: 1rem;
}
.theme-button::after {
	border-left: 0.5rem solid var(--light);
	border-right: 0.5rem solid var(--dark);
	height: 1rem;
	border-radius: 0.5rem;

	margin-left: -1.5rem;
	margin-right: 0.5rem;
}
.theme-button::before, .theme-button::after {
	content: "";
	display: block;
}
