<!DOCTYPE html>
<html lang="{{ site.lang | default: '' }}" dir="{{ site.text_direction | default: 'auto' }}">

<head>

{% include head_content.html %}
</head>

<body>
	{{ content }}

	<!-- Only add the theme button to the page if JS is allowed -->
	<script>document.write('<button class="theme-button" aria-label="Toggle theme" title="Toggle theme" onclick="toggleTheme()"></button>');</script>

	<!-- Add links to heading anchors for easy sharing -->
	<script src="/js/anchor.js"></script>

	<!-- Do some extra RTL text handling if loaded in Google Translate -->
	<script>if (window.location.hostname.endsWith('.translate.goog')) document.write('<script src="/js/translate.js"><\/script>');</script>
</body>

</html>
