<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }} &bull; {% endif %}{{ site.title }}</title>

	<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">

	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700&family=Fira+Mono:wght@400;700&display=swap">
	<link rel="stylesheet" type="text/css" href="/css/normalize.8.0.1.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/theme-button.css">
	<link rel="stylesheet" type="text/css" href="/css/solarized-light.css">
	<link rel="stylesheet" type="text/css" href="/css/solarized-dark.css">
</head>

<body>
	<!-- included before content to avoid flashing -->
	<script src="/js/theme.js"></script>

	<header>
		<span>
			<a href="/">
				<h2>
					Hi I'm Erin
				</h2>
			</a>
		</span>
		{% if page.date %}
		<span>
			<a><time datetime="{{ page.date }}">{{ page.date | date_to_string }}</a>
		</span>
		{% endif %}
	</header>

	<main>
		{{ content }}
	</main>

	<footer>
		{% if page.modified %}
		<p>
			<i>Last modified <time datetime="page.modified">{{ page.modified | date_to_string }}</time>.</i>
		</p>
		{% endif %}
		<nav>
			<ul>
				{% assign sorted_pages = site.pages | sort: "order" %}
				{% for page in sorted_pages %}
				{% if page.order %}
				<li><a href="{{ page.url }}">{{ page.navtitle | default: page.title }}</a></li>
				{% endif %}
				{% endfor %}
				<li><a href="/feed.xml">Feed</a></li>
			</ul>
			<ul>
				{% for link in site.footer_links %}
				<li><a href="{{ link.url }}">{{ link.name }}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</footer>
</body>

</html>
